<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yetthin.web.persistence.IdustryIndexMapper" >
  <resultMap id="BaseResultMap" type="com.yetthin.web.domain.IdustryIndex" >
    <id column="industry_code" property="industryCode" jdbcType="VARCHAR" />
    <result column="industry_name" property="industryName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    industry_code, industry_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from industry_index
    where industry_code = #{industryCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from industry_index
    where industry_code = #{industryCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yetthin.web.domain.IdustryIndex" >
    <selectKey resultType="java.lang.String" keyProperty="industryCode" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into industry_index (industry_code, industry_name)
    values (#{industryCode,jdbcType=VARCHAR}, #{industryName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yetthin.web.domain.IdustryIndex" >
    <selectKey resultType="java.lang.String" keyProperty="industryCode" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into industry_index
    <trim prefix="(" suffix=")" suffixOverrides="," >
      industry_code,
      <if test="industryName != null" >
        industry_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{industryCode,jdbcType=VARCHAR},
      <if test="industryName != null" >
        #{industryName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yetthin.web.domain.IdustryIndex" >
    update industry_index
    <set >
      <if test="industryName != null" >
        industry_name = #{industryName,jdbcType=VARCHAR},
      </if>
    </set>
    where industry_code = #{industryCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yetthin.web.domain.IdustryIndex" >
    update industry_index
    set industry_name = #{industryName,jdbcType=VARCHAR}
    where industry_code = #{industryCode,jdbcType=VARCHAR}
  </update>
</mapper>